{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Stubs",
            "EnumTest.php"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}